/* stylelint-disable selector-no-qualifying-type, property-no-vendor-prefix */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container{
  width: 450px;
  height: 385px;
  border: 5px solid rgb(236, 236, 236) ;
}
.user_identity {
  padding: 10px 0 12px 4px;
}
.user_identity > span{
  color: rgb(124, 123, 123);
}
.reg{
  padding-bottom: 5px;
}

.verify input {
  width: 131px;
  margin-right: 20px;
  float: left;
  margin-bottom: 0;
  display: inline-block;
  height: 36px;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  color: #666;
  line-height: 28px;
  padding: 6px 0 6px 12px;
  box-shadow: 0 0 5px #fff;
  outline: none;
  transition: box-shadow 0.25s linear 0s;
  -webkit-transition: box-shadow 0.25s linear 0s;
}