.rg_layout .rg_form {
    height: 330px;
}
.rg_layout {
    margin-top: 60px;
}
.pssw{
    padding-left: 38px;
}
.pssw input{
    border-radius: 6%;
    border:gainsboro 2px solid;
    height: 35px;
    width: 255px;
}

.submit{
    width: 105px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color:whitesmoke;
    font-size: 17px;
    color:grey;
    font-weight: 300;
    border-radius: 8%;
}